@page
@model _2024AMS.Pages.Users.MaintainUsersModel
@{
}

@* <form method="post">

    <label>Filter Users By:</label>
    <input asp-for="Filter" />
    <input asp-page-handler="Filter" type="submit" value="Filter" />
    <a class="btn" asp-page="MaintainUsers">Clear Filter</a>
</form> *@

<table class="table">

    <thead>
        <tr style="font-weight: bold">
            <th><a class="greenbtn" asp-page="AddUser">Add</a></th>
            <th><label>Last Name</label></th>
            <th><label>First Name</label></th>
            <th><label>Middle Initial</label></th>
            <th><label>Email Address</label></th>
            <th><label>Status</label></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JoinResultIList)
        {
         <tr>
             <td>
                <a class="btn" asp-page="ModifyUser" asp-route-intUserID="@item.UserID">Modify</a>
                <a class="redbtn" asp-page="DeleteUser" asp-route-intUserID="@item.UserID" onclick="return confirm('Are you sure you want to delete this User? Click OK to delete the user. Click Cancel to keep the user.')">Delete</a>
             </td>
             <td><label>@item.LastName</label></td>
             <td><label>@item.FirstName</label></td>
             <td><label>@item.MiddleInitial</label></td>            
             <td><label>@item.EmailAddress</label></td>
                <td>
                    @switch (@item.Status)
                    {
                        case "A":
                            <label>
                                Administrator
                            </label>
                            break;
                        case "F":
                            <label>
                                FacStaff
                            </label>
                            break;
                        case "T":
                            <label> 
                                Technician
                            </label>
                            break;
                    }
                </td>
         </tr>
        }
    </tbody>
</table>